<h2 class="text-center mt-5">Inicio</h2>
<div class="container">
    <hr class="mx-3"/>
    <form (ngSubmit)="comprobarUsuario()" autocomplete="off">
        <div class="d-grid mb-5">
            <input class="form-control" id="txtUser" name="txtUsuario" type="text" 
                    placeholder="Escribe aqui tu usuario" [(ngModel)]='nombreUsuario'/>
            <button class="btn btn-warning mt-3" type="submit">Entrar</button>
        </div>
    </form>
    <div class="container fixed-bottom">
        <div *ngIf="esError" class="alert alert-danger ">
            El usuario {{nombreUsuarioComprobado}} no es válido.
        </div>
        <div *ngIf="esAviso" class="alert alert-warning ">
            No se ha especificado ningun usuario.
        </div>
    </div>
</div>

