<div class="bg-dark text-center pt-2 col">
    <div class="row gx-0">
        <div class="text-white col p-0">
            <h3>Usuario: {{usuario.nombre}}</h3>
        </div>
        <div class="text-white col p-0">
            <h3>Puntuación: {{usuario.puntuacion}}</h3>
        </div>
    </div>
</div>

<app-gamepad (whenClick)="empezarPartida($event)" [eleccion]="eleccion"></app-gamepad>

<h2 class="text-center mt-4">Tu</h2>
<app-screen [eleccion]="eleccion"></app-screen>

<h2 class="text-center mt-4">Máquina</h2>
<app-screen [eleccion]="eleccionMaquina"></app-screen>

<div class="container fixed-bottom" [ngSwitch]="resultado">
    <div *ngSwitchCase="1" class="alert alert-warning text-center avisoPartida">
        Has empatado
    </div>
    <div *ngSwitchCase="2" class="alert alert-success text-center avisoPartida">
        Has ganado
    </div>
    <div *ngSwitchCase="3" class="alert alert-danger text-center avisoPartida">
        Has perdido
    </div>
</div>
