<div id="pantallaJuego" class="container align-center" [ngSwitch]="eleccion">
    <img *ngSwitchCase="1" class="icon m-4" src="assets/icons/hand-fist-solid.svg">
    <img *ngSwitchCase="2" class="icon m-4" src="assets/icons/hand-solid.svg">
    <img *ngSwitchCase="3" class="icon m-4" src="assets/icons/hand-peace-solid.svg">
</div>
