#panelElecciones{
    border-radius: 25px;
    background-color: #00428B;
    border: 5px outset gold ;
    text-align: center;
}

.seleccionable:hover{
    background: greenyellow;
}

.icon{
    max-height: 75px;
}

.opcion{
    background-color: gold;
}

.activo {
    background-color: steelblue;
    border-color: steelblue;
}