<div id="panelElecciones" class="container mt-5">
    <h2 class="text-white text-center mt-2">Elige...</h2>
    <div class="col mb-5">
        <ul class="list-group list-group-horizontal justify-content-center text-center mx-5">
            <li class="list-group-item col-4 opcion seleccionable" (click)="elige(1)" [class.activo]="eleccion === 1" [class.disabled]="eleccion > 0">
                 <img class="icon" src="assets/icons/hand-fist-solid.svg">
            </li>
            <li class="list-group-item col-4 opcion seleccionable" (click)="elige(2)" [class.activo]="eleccion === 2" [class.disabled]="eleccion > 0">
                <img class="icon" src="assets/icons/hand-solid.svg">
            </li>
            <li class="list-group-item col-4 opcion seleccionable" (click)="elige(3)" [class.activo]="eleccion === 3" [class.disabled]="eleccion > 0">
                <img class="icon" src="assets/icons/hand-peace-solid.svg">
            </li>
        </ul>
    </div>
</div>